:root {
	--web-view-ids: Slide_1,Slide_2,Slide_3,Nav;
	--web-view-name: Slide 1;
	--web-view-id: Slide_1;
	--web-scale-to-fit: false;
	--web-scale-to-fit-type: default;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: false;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Slide_1,
#Slide_2,
#Slide_3,
#Nav {
	display: none;
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Slide 1;
		--web-view-id: Slide_1;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Slide_1 {
		position: absolute;
		display: block;
		width: 980px;
		height: 400px;
		overflow: hidden;
		--web-view-name: Slide 1;
		--web-view-id: Slide_1;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	#Ellipse_1 {
		fill: rgba(40,60,79,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 452px;
		top: 383px;
	}
	#Component_1__11 {
		position: absolute;
		width: 44px;
		height: 107px;
		left: 0px;
		top: 147px;
		overflow: visible;
	}
	#Polygon_1 {
		fill: rgba(32,84,79,0);
	}
	.Polygon_1 {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 44px;
		transform: translate(0px, 0px) matrix(1,0,0,1,-31.5,31.5) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Component_2__11 {
		position: absolute;
		width: 44px;
		height: 107px;
		left: 936px;
		top: 147px;
		overflow: visible;
	}
	#Polygon_2 {
		fill: rgba(32,84,79,0);
	}
	.Polygon_2 {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 44px;
		transform: translate(0px, 0px) matrix(1,0,0,1,-31.5,31.5) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Group_2 {
		position: absolute;
		width: 711.533px;
		height: 268.141px;
		left: 134px;
		top: 65px;
		overflow: visible;
	}
	#Hellfire-PB {
		position: absolute;
		width: 228.504px;
		height: 52.732px;
		left: 0px;
		top: 215.222px;
		overflow: visible;
	}
	#Group_1 {
		position: absolute;
		width: 338.283px;
		height: 203.024px;
		left: 372.437px;
		top: 0px;
		overflow: visible;
	}
	#Av-JLift-Sig {
		position: absolute;
		width: 338.283px;
		height: 112.761px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#mikkosig {
		position: absolute;
		width: 338.283px;
		height: 78.065px;
		left: 0px;
		top: 124.959px;
		overflow: visible;
	}
	#Thumbnail1 {
		position: absolute;
		width: 360.143px;
		height: 202.58px;
		left: 0px;
		top: 0.444px;
		overflow: visible;
	}
	#Tombstone-PB {
		position: absolute;
		width: 229.317px;
		height: 52.919px;
		left: 482.216px;
		top: 215.222px;
		overflow: visible;
	}
	#Totally-80-s-PB {
		position: absolute;
		width: 229.317px;
		height: 52.919px;
		left: 240.702px;
		top: 215.222px;
		overflow: visible;
	}
	#thumbnails__Banners {
		left: 237px;
		top: -8px;
		position: absolute;
		overflow: visible;
		width: 508px;
		white-space: nowrap;
		text-align: left;
		font-family: Heavitas;
		font-style: normal;
		font-weight: normal;
		font-size: 37px;
		color: rgba(40,60,79,1);
	}
	#Indicators {
		position: absolute;
		width: 76px;
		height: 12px;
		left: 452px;
		top: 384px;
		overflow: visible;
	}
	#Ellipse_6 {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 32px;
		top: 0px;
	}
	#Ellipse_5 {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 0px;
		top: 0px;
	}
	#Ellipse_7 {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_7 {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 64px;
		top: 0px;
	}
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Slide 2;
		--web-view-id: Slide_2;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Slide_2 {
		position: absolute;
		display: block;
		width: 980px;
		height: 400px;
		overflow: hidden;
		--web-view-name: Slide 2;
		--web-view-id: Slide_2;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	#Ellipse_2 {
		fill: rgba(40,60,79,1);
	}
	.Ellipse_2 {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 484px;
		top: 383px;
	}
	#Group_4 {
		position: absolute;
		width: 805px;
		height: 268px;
		left: 88px;
		top: 65px;
		overflow: visible;
	}
	#bensign {
		filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.302));
		position: absolute;
		width: 357.333px;
		height: 268px;
		left: 447.667px;
		top: 0px;
		overflow: visible;
	}
	#Group_3 {
		position: absolute;
		width: 416px;
		height: 267.496px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#PFF_5x7-02 {
		filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.302));
		position: absolute;
		width: 263px;
		height: 190px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#PFF_5x7-01 {
		filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.302));
		position: absolute;
		width: 264px;
		height: 191px;
		left: 152px;
		top: 76.496px;
		overflow: visible;
	}
	#CARDS_LABELS__SIGNS {
		left: 237px;
		top: -8px;
		position: absolute;
		overflow: visible;
		width: 484px;
		white-space: nowrap;
		text-align: left;
		font-family: Heavitas;
		font-style: normal;
		font-weight: normal;
		font-size: 37px;
		color: rgba(40,60,79,1);
	}
	#Indicators_bg {
		position: absolute;
		width: 76px;
		height: 12px;
		left: 452px;
		top: 384px;
		overflow: visible;
	}
	#Ellipse_6_bh {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_6_bh {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 32px;
		top: 0px;
	}
	#Ellipse_5_bi {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_5_bi {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 0px;
		top: 0px;
	}
	#Ellipse_7_bj {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_7_bj {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 64px;
		top: 0px;
	}
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Slide 3;
		--web-view-id: Slide_3;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Slide_3 {
		position: absolute;
		display: block;
		width: 980px;
		height: 400px;
		overflow: hidden;
		--web-view-name: Slide 3;
		--web-view-id: Slide_3;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	#Ellipse_3 {
		fill: rgba(40,60,79,1);
	}
	.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 516px;
		top: 383px;
	}
	#Component_1__13 {
		position: absolute;
		width: 44px;
		height: 107px;
		left: 0px;
		top: 147px;
		overflow: visible;
	}
	#Polygon_1_bo {
		fill: rgba(32,84,79,0);
	}
	.Polygon_1_bo {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 44px;
		transform: translate(0px, 0px) matrix(1,0,0,1,-31.5,31.5) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Component_2__14 {
		position: absolute;
		width: 44px;
		height: 107px;
		left: 936px;
		top: 147px;
		overflow: visible;
	}
	#Polygon_2_bq {
		fill: rgba(32,84,79,0);
	}
	.Polygon_2_bq {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 44px;
		transform: translate(0px, 0px) matrix(1,0,0,1,-31.5,31.5) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#LOGOS__BRANDING {
		left: 287px;
		top: -8px;
		position: absolute;
		overflow: visible;
		width: 407px;
		white-space: nowrap;
		text-align: left;
		font-family: Heavitas;
		font-style: normal;
		font-weight: normal;
		font-size: 37px;
		color: rgba(40,60,79,1);
	}
	#ORHS_Ensemble {
		position: absolute;
		width: 148px;
		height: 148px;
		left: 698px;
		top: 65px;
		overflow: visible;
	}
	#GATLogo300x {
		position: absolute;
		width: 209px;
		height: 108px;
		left: 637px;
		top: 225px;
		overflow: visible;
	}
	#NeonLogo1_copy {
		position: absolute;
		width: 108px;
		height: 108px;
		left: 516px;
		top: 225px;
		overflow: visible;
	}
	#Group_5 {
		position: absolute;
		width: 370.909px;
		height: 108px;
		left: 133px;
		top: 225px;
		overflow: visible;
	}
	#Color_CC_Icon {
		position: absolute;
		width: 107.723px;
		height: 108px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_2 {
		position: absolute;
		width: 253.909px;
		height: 108px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Layer_1 {
		position: absolute;
		width: 253.909px;
		height: 108px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_1 {
		fill: rgba(255,255,255,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 43.968px;
		height: 47.682px;
		left: 2.855px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2 {
		fill: rgba(255,255,255,1);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 42.518px;
		height: 45.388px;
		left: 54.117px;
		top: 1.158px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_3 {
		fill: rgba(255,255,255,1);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 43.95px;
		height: 47.682px;
		left: 103.289px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_4 {
		fill: rgba(255,255,255,1);
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 24.871px;
		height: 45.395px;
		left: 153.073px;
		top: 1.141px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5 {
		fill: rgba(255,255,255,1);
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 30.061px;
		height: 46.539px;
		left: 185.39px;
		top: 1.141px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_6 {
		fill: rgba(255,255,255,1);
	}
	.Path_6 {
		overflow: visible;
		position: absolute;
		width: 26.205px;
		height: 47.689px;
		left: 223.088px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_7 {
		fill: rgba(255,255,255,1);
	}
	.Path_7 {
		overflow: visible;
		position: absolute;
		width: 43.962px;
		height: 47.682px;
		left: 0px;
		top: 60.318px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_8 {
		fill: rgba(255,255,255,1);
	}
	.Path_8 {
		overflow: visible;
		position: absolute;
		width: 42.518px;
		height: 45.395px;
		left: 51.198px;
		top: 61.462px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_9 {
		fill: rgba(255,255,255,1);
	}
	.Path_9 {
		overflow: visible;
		position: absolute;
		width: 35.659px;
		height: 45.395px;
		left: 102.448px;
		top: 61.462px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_10 {
		fill: rgba(255,255,255,1);
	}
	.Path_10 {
		overflow: visible;
		position: absolute;
		width: 38.235px;
		height: 45.381px;
		left: 150.227px;
		top: 61.462px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_11 {
		fill: rgba(255,255,255,1);
	}
	.Path_11 {
		overflow: visible;
		position: absolute;
		width: 22.003px;
		height: 45.395px;
		left: 198.669px;
		top: 61.462px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_12 {
		fill: rgba(255,255,255,1);
	}
	.Path_12 {
		overflow: visible;
		position: absolute;
		width: 26.015px;
		height: 45.395px;
		left: 227.894px;
		top: 61.462px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Stella-Clean2x {
		position: absolute;
		width: 279px;
		height: 136px;
		left: 134px;
		top: 65px;
		overflow: visible;
	}
	#HappyPlace-logo-old {
		position: absolute;
		width: 203px;
		height: 128px;
		left: 455px;
		top: 72px;
		overflow: visible;
	}
	#Indicators_cd {
		position: absolute;
		width: 76px;
		height: 12px;
		left: 452px;
		top: 384px;
		overflow: visible;
	}
	#Ellipse_6_ce {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_6_ce {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 32px;
		top: 0px;
	}
	#Ellipse_5_cf {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_5_cf {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 0px;
		top: 0px;
	}
	#Ellipse_7_cg {
		opacity: 0.4;
		fill: rgba(40,60,79,1);
	}
	.Ellipse_7_cg {
		position: absolute;
		overflow: visible;
		width: 12px;
		height: 12px;
		left: 64px;
		top: 0px;
	}
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Nav;
		--web-view-id: Nav;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Nav {
		position: absolute;
		display: block;
		width: 980px;
		height: 400px;
		overflow: hidden;
		--web-view-name: Nav;
		--web-view-id: Nav;
		--web-scale-on-resize: true;
		--web-show-navigation-controls: true;
		--web-enable-deep-linking: true;
	}
	#Component_1__25 {
		position: absolute;
		width: 44px;
		height: 107px;
		left: 0px;
		top: 147px;
		overflow: visible;
	}
	#Polygon_1_ck {
		fill: rgba(32,84,79,0.4);
	}
	.Polygon_1_ck {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 44px;
		transform: translate(0px, 0px) matrix(1,0,0,1,-31.5,31.5) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Component_2__26 {
		position: absolute;
		width: 44px;
		height: 107px;
		left: 936px;
		top: 147px;
		overflow: visible;
	}
	#Polygon_2_cm {
		fill: rgba(32,84,79,0.4);
	}
	.Polygon_2_cm {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 44px;
		transform: translate(0px, 0px) matrix(1,0,0,1,-31.5,31.5) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
}
